
$color-warning: rgb(249, 205, 72);
$color-ink-light: rgb(182, 196, 206);
$color-warning-darker: rgb(99, 75, 3);
$color-danger-darker: rgb(102, 0, 0);
$color-danger-lighter: rgb(255, 153, 153);
$color-warning-lighter: rgb(252, 228, 156);
$color-primary: rgb(5, 34, 255);
$color-success: rgb(134, 193, 68);
$color-ink: rgb(35, 31, 32);
$color-primary-lighter: rgb(245, 246, 255);
$color-success-lighter: rgb(206, 230, 179);
$color-white: rgb(255, 255, 255);
$color-success-dark: rgb(87, 126, 42);
$color-ink-lighter: rgb(240, 243, 245);
$color-primary-dark: rgb(0, 20, 168);
$color-warning-dark: rgb(134, 101, 4);
$color-danger-dark: rgb(168, 0, 0);
$color-danger-light: rgb(255, 66, 66);
$color-warning-light: rgb(251, 221, 131);
$color-success-darker: rgb(53, 77, 25);
$color-primary-darker: rgb(0, 7, 61);
$color-primary-light: rgb(117, 133, 255);
$color-success-light: rgb(164, 208, 113);
$color-danger: rgb(255, 5, 5);
$font-heading: Mulish, Helvetica, Arial, sans-serif;
$font-text: Mulish, Helvetica, Arial, sans-serif;
$weight-bold: 900;
$weight-semi-bold: 700;
$weight-normal: 400;
$weight-light: 300;
